* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://i.pinimg.com/originals/60/83/0d/60830d457410409e40c7198f40365327.png);
    background-size: cover;
    color: rgb(6, 6, 6);
    font-size: 25px;
}

.wrap{
    width: 90%;
    max-width: 1000px;
    text-align: center;
    
}

.widget{
    width: 45%;
    margin: 2em;
    margin:0px 310px;
    
}

.widget p {
    display:inline-block ;
    line-height: 1em;
   
}

.fecha {
    padding: 20px 0px 0px ;
    font-family: Oswald, Arial;
    text-align: center;
    font-size: 1.5em;
    background-color: rgba(18, 17, 17, 0.537);
    margin-bottom: 20px;
    width: 100%;
    border-radius: 3rem;
    color: rgb(242, 228, 228);
}

.reloj{
    border-radius: 3rem;
    font-family: Oswald, Arial;
    text-align: center;
    font-size: 3em;
    background-color: rgba(3, 0, 0, 0.521);
    padding:0px 20px;
    width: 100%;
    display: inline-block;
    color: rgb(248, 236, 236);

}

.reloj .caja-segundos{
    display: inline-block;
    
}

.reloj .caja-segundos,
.reloj .ampm {
    font-size: 3rem;
    display: inline-block;
    
} 